[submodule "a"]
	path = lib/a
	url = git@github.com:plexus/a.el.git
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "browse-at-remote"]
	path = lib/browse-at-remote
	url = git@github.com:rmuslimov/browse-at-remote.git
[submodule "bui"]
	path = lib/bui
	url = git@github.com:alezost/bui.el.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-lsp"]
	path = lib/company-lsp
	url = git@github.com:tigersoldier/company-lsp.git
[submodule "company-lua"]
	path = lib/company-lua
	url = git@github.com:ptrv/company-lua.git
[submodule "company-quickhelp"]
	path = lib/company-quickhelp
	url = git@github.com:expez/company-quickhelp.git
[submodule "company-restclient"]
	path = lib/company-restclient
	url = git@github.com:iquiw/company-restclient.git
[submodule "company-shell"]
	path = lib/company-shell
	url = git@github.com:Alexander-Miller/company-shell.git
[submodule "copy-as-format"]
	path = lib/copy-as-format
	url = git@github.com:sshaw/copy-as-format.git
[submodule "dap-mode"]
	path = lib/dap-mode
	url = git@github.com:emacs-lsp/dap-mode.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "diminish"]
	path = lib/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "docker"]
	path = lib/docker
	url = git@github.com:Silex/docker.el.git
[submodule "docker-tramp"]
	path = lib/docker-tramp
	url = git@github.com:emacs-pe/docker-tramp.el.git
[submodule "editorconfig"]
	path = lib/editorconfig
	url = git@github.com:editorconfig/editorconfig-emacs.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
[submodule "emojify"]
	path = lib/emojify
	url = git@github.com:iqbalansari/emacs-emojify.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "eval-in-repl"]
	path = lib/eval-in-repl
	url = git@github.com:kaz-yos/eval-in-repl.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "feature-mode"]
	path = lib/feature-mode
	url = git@github.com:michaelklishin/cucumber.el.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flycheck-plantuml"]
	path = lib/flycheck-plantuml
	url = git@github.com:alexmurray/flycheck-plantuml.git
[submodule "flycheck-pos-tip"]
	path = lib/flycheck-pos-tip
	url = git@github.com:flycheck/flycheck-pos-tip.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "go-complete"]
	path = lib/go-complete
	url = git@github.com:vibhavp/go-complete.git
[submodule "go-eldoc"]
	path = lib/go-eldoc
	url = git@github.com:emacsorphanage/go-eldoc.git
[submodule "go-mode"]
	path = lib/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule "gradle-mode"]
	path = lib/gradle-mode
	url = git@github.com:jacobono/emacs-gradle-mode.git
[submodule "graphql"]
	path = lib/graphql
	url = git@github.com:vermiculus/graphql.el.git
[submodule "groovy-mode"]
	path = lib/groovy-mode
	url = git@github.com:Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "helm"]
	path = lib/helm
	url = git@github.com:emacs-helm/helm.git
	build-step = EMACSLOADPATH="$HOME/.emacs.d/lib/async:$HOME/.emacs.d/lib/popup:" make
	build-step = borg-update-autoloads
[submodule "helm-ag"]
	path = lib/helm-ag
	url = git@github.com:emacsorphanage/helm-ag.git
	build-step = borg-byte-compile
[submodule "helm-cider"]
	path = lib/helm-cider
	url = git@github.com:clojure-emacs/helm-cider.git
	build-step = borg-byte-compile
[submodule "helm-descbinds"]
	path = lib/helm-descbinds
	url = git@github.com:emacs-helm/helm-descbinds.git
	build-step = borg-byte-compile
[submodule "helm-lsp"]
	path = lib/helm-lsp
	url = git@github.com:emacs-lsp/helm-lsp.git
	build-step = borg-byte-compile
[submodule "helm-org"]
	path = lib/helm-org
	url = git@github.com:emacs-helm/helm-org.git
	build-step = borg-byte-compile
[submodule "helm-projectile"]
	path = lib/helm-projectile
	url = git@github.com:bbatsov/helm-projectile.git
	build-step = borg-byte-compile
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "java-snippets"]
	path = lib/java-snippets
	url = git@github.com:nekop/yasnippet-java-mode.git
[submodule "js-comint"]
	path = lib/js-comint
	url = git@github.com:redguardtoo/js-comint.git
[submodule "js2-mode"]
	path = lib/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "json-mode"]
	path = lib/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "json-reformat"]
	path = lib/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "know-your-http-well"]
	path = lib/know-your-http-well
	url = git@github.com:for-GET/know-your-http-well.git
[submodule "lib/modus-vivendi-theme"]
	url = git@github.com:emacsmirror/modus-themes.git
[submodule "logstash-conf"]
	path = lib/logstash-conf
	url = git@github.com:Wilfred/logstash-conf.el.git
[submodule "lsp-java"]
	path = lib/lsp-java
	url = git@github.com:emacs-lsp/lsp-java.git
[submodule "lsp-mode"]
	path = lib/lsp-mode
	url = git@github.com:emacs-lsp/lsp-mode.git
[submodule "lsp-treemacs"]
	path = lib/lsp-treemacs
	url = git@github.com:emacs-lsp/lsp-treemacs.git
[submodule "lsp-ui"]
	path = lib/lsp-ui
	url = git@github.com:emacs-lsp/lsp-ui.git
[submodule "lua-mode"]
	path = lib/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "merlin"]
	path = lib/merlin
	url = git@github.com:emacsmirror/merlin.git
[submodule "mic-paren"]
	path = lib/mic-paren
	url = git@github.com:emacsattic/mic-paren.git
[submodule "ob-mongo"]
	path = lib/ob-mongo
	url = git@github.com:krisajenkins/ob-mongo.git
[submodule "ob-restclient"]
	path = lib/ob-restclient
	url = git@github.com:alf/ob-restclient.el.git
[submodule "org-jira"]
	path = lib/org-jira
	url = git@github.com:ahungry/org-jira.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "packs/dev/clojure-pack/vendor/submodules/cider"]
	path = packs/dev/clojure-pack/vendor/submodules/cider
	url = git://github.com/clojure-emacs/cider.git
[submodule "packs/dev/clojure-pack/vendor/submodules/clojure-mode"]
        path = packs/dev/clojure-pack/vendor/submodules/clojure-mode
        url = git://github.com/clojure-emacs/clojure-mode.git
[submodule "packs/dev/clojure-pack/vendor/submodules/edn"]
	path = packs/dev/clojure-pack/vendor/submodules/edn
	url = git://github.com/expez/edn.el.git
[submodule "packs/dev/clojure-pack/vendor/submodules/fuzzy-el"]
        path = packs/dev/clojure-pack/vendor/submodules/fuzzy-el
        url = git://github.com/auto-complete/fuzzy-el.git
[submodule "packs/dev/clojure-pack/vendor/submodules/hydra"]
	path = packs/dev/clojure-pack/vendor/submodules/hydra
	url = git://github.com/abo-abo/hydra.git
[submodule "packs/dev/clojure-pack/vendor/submodules/jump-el"]
	path = packs/dev/clojure-pack/vendor/submodules/jump-el
	url = git@github.com:eschulte/jump.el.git
[submodule "packs/dev/clojure-pack/vendor/submodules/parseedn"]
	path = packs/dev/clojure-pack/vendor/submodules/parseedn
	url = git@github.com:clojure-emacs/parseedn.git
[submodule "packs/dev/clojure-pack/vendor/submodules/peg"]
	path = packs/dev/clojure-pack/vendor/submodules/peg
	url = git@github.com:emacsmirror/peg.git
[submodule "packs/dev/clojure-pack/vendor/submodules/popup-el"]
        path = packs/dev/clojure-pack/vendor/submodules/popup-el
        url = git://github.com/auto-complete/popup-el.git
[submodule "packs/dev/clojure-pack/vendor/submodules/rainbow-delimiters"]
	path = packs/dev/clojure-pack/vendor/submodules/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "packs/dev/clojure-pack/vendor/submodules/seq-el"]
	path = packs/dev/clojure-pack/vendor/submodules/seq-el
	url = git@github.com:NicolasPetton/seq.el.git
[submodule "packs/dev/clojure-pack/vendor/submodules/sesman"]
	path = packs/dev/clojure-pack/vendor/submodules/sesman
	url = git@github.com:vspinu/sesman.git
[submodule "packs/dev/clojure-pack/vendor/submodules/spinner-el"]
	path = packs/dev/clojure-pack/vendor/submodules/spinner-el
	url = git@github.com:Malabarba/spinner.el.git
[submodule "packs/dev/colour-pack/vendor/zenburn-pack"]
	path = packs/dev/colour-pack/vendor/zenburn-pack
	url = git@github.com:siancu/zenburn-pack.git
[submodule "packs/dev/foundation-pack/vendor/submodules/epl"]
        path = packs/dev/foundation-pack/vendor/submodules/epl
        url = git://github.com/cask/epl.git
[submodule "packs/dev/foundation-pack/vendor/submodules/exec-path-from-shell"]
        path = packs/dev/foundation-pack/vendor/submodules/exec-path-from-shell
        url = git://github.com/purcell/exec-path-from-shell.git
[submodule "packs/dev/foundation-pack/vendor/submodules/pkg-info"]
	path = packs/dev/foundation-pack/vendor/submodules/pkg-info
	url = git://github.com/lunaryorn/pkg-info.el.git
[submodule "packs/dev/foundation-pack/vendor/submodules/popwin"]
	path = packs/dev/foundation-pack/vendor/submodules/popwin
	url = git@github.com:m2ym/popwin-el.git
        ignore = untracked
[submodule "packs/dev/foundation-pack/vendor/submodules/smex"]
        path = packs/dev/foundation-pack/vendor/submodules/smex
        url = git://github.com/nonsequitur/smex.git
        ignore = untracked
[submodule "packs/dev/foundation-pack/vendor/submodules/swiper"]
	path = packs/dev/foundation-pack/vendor/submodules/swiper
	url = git://github.com/abo-abo/swiper.git
[submodule "packs/dev/foundation-pack/vendor/submodules/with-editor"]
	path = packs/dev/foundation-pack/vendor/submodules/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "packs/dev/org-pack/vendor/submodules/org-mode"]
	path = packs/dev/org-pack/vendor/submodules/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "packs/dev/power-pack/vendor/submodules/ace-jump-mode"]
	path = packs/dev/power-pack/vendor/submodules/ace-jump-mode
	url = git@github.com:winterTTr/ace-jump-mode.git
[submodule "packs/dev/power-pack/vendor/submodules/emacs-git-gutter"]
	path = packs/dev/power-pack/vendor/submodules/emacs-git-gutter
	url = git@github.com:syohex/emacs-git-gutter.git
[submodule "packs/dev/power-pack/vendor/submodules/expand-region"]
	path = packs/dev/power-pack/vendor/submodules/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "packs/dev/power-pack/vendor/submodules/ht"]
	path = packs/dev/power-pack/vendor/submodules/ht
	url = git@github.com:Wilfred/ht.el.git
[submodule "packs/dev/power-pack/vendor/submodules/multiple-cursors"]
        path = packs/dev/power-pack/vendor/submodules/multiple-cursors
        url = git://github.com/magnars/multiple-cursors.el.git
[submodule "packs/dev/power-pack/vendor/submodules/treemacs"]
	path = packs/dev/power-pack/vendor/submodules/treemacs
	url = git@github.com:Alexander-Miller/treemacs.git
[submodule "packs/dev/power-pack/vendor/submodules/wc-mode"]
	path = packs/dev/power-pack/vendor/submodules/wc-mode
	url = git://github.com/bnbeckwith/wc-mode.git
[submodule "paredit"]
	path = lib/paredit
	url = https://mumble.net/~campbell/git/paredit.git
[submodule "parseclj"]
	path = lib/parseclj
	url = git@github.com:clojure-emacs/parseclj.git
[submodule "persp-projectile"]
	path = lib/persp-projectile
	url = git@github.com:bbatsov/persp-projectile.git
[submodule "perspective"]
	path = lib/perspective
	url = git@github.com:nex3/perspective-el.git
[submodule "pfuture"]
	path = lib/pfuture
	url = git@github.com:Alexander-Miller/pfuture.git
[submodule "plantuml-mode"]
	path = lib/plantuml-mode
	url = git@github.com:skuro/plantuml-mode.git
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "pos-tip"]
	path = lib/pos-tip
	url = git@github.com:pitkali/pos-tip.git
[submodule "prettier-js"]
	path = lib/prettier-js
	url = git@github.com:prettier/prettier-emacs.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "request"]
	path = lib/request
	url = git@github.com:tkf/emacs-request.git
[submodule "restclient"]
	path = lib/restclient
	url = git@github.com:pashky/restclient.el.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "sly"]
	path = lib/sly
	url = git@github.com:joaotavora/sly.git
	build-step = borg-byte-compile
[submodule "sly-asdf"]
	path = lib/sly-asdf
	url = git@github.com:mmgeorge/sly-asdf.git
[submodule "sly-quicklisp"]
	path = lib/sly-quicklisp
	url = git@github.com:joaotavora/sly-quicklisp.git
	build-step = borg-byte-compile
[submodule "sly-repl-ansi-color"]
	path = lib/sly-repl-ansi-color
	url = git@github.com:PuercoPop/sly-repl-ansi-color.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "synosaurus"]
	path = lib/synosaurus
	url = git@github.com:hpdeifel/synosaurus.git
[submodule "tablist"]
	path = lib/tablist
	url = git@github.com:politza/tablist.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "tuareg"]
	path = lib/tuareg
	url = git@github.com:ocaml/tuareg.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "utop"]
	path = lib/utop
	url = git@github.com:emacsmirror/utop.git
[submodule "volatile-highlights"]
	path = lib/volatile-highlights
	url = git@github.com:k-talo/volatile-highlights.el.git
[submodule "win-switch"]
	path = lib/win-switch
	url = git@github.com:genovese/win-switch.git
	build-step = nil
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = git@github.com:lewang/ws-butler.git
[submodule "xterm-color"]
	path = lib/xterm-color
	url = git@github.com:atomontage/xterm-color.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "zeal-at-point"]
	path = lib/zeal-at-point
	url = git@github.com:jinzhu/zeal-at-point.git
