[submodule "a"]
	path = lib/a
	url = git@github.com:plexus/a.el.git
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "alert"]
	path = lib/alert
	url = https://github.com/jwiegley/alert
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
	build-step = EMACSLOADPATH="$HOME/.config/emacs/lib/dash:" make
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "avy-flycheck"]
	path = lib/avy-flycheck
	url = https://github.com/magicdirac/avy-flycheck
[submodule "babashka-el"]
	path = lib/babashka-el
	url = git@github.com:licht1stein/babashka.el.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "browse-at-remote"]
	path = lib/browse-at-remote
	url = git@github.com:rmuslimov/browse-at-remote.git
[submodule "bui"]
	path = lib/bui
	url = git@github.com:alezost/bui.el.git
[submodule "cider"]
	path = lib/cider
	url = git@github.com:clojure-emacs/cider.git
	build-step = make compile
  	build-step = borg-update-autoloads
[submodule "clj-refactor"]
	path = lib/clj-refactor
	url = git@github.com:clojure-emacs/clj-refactor.el.git
	build-step = make compile
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "closql"]
	path = lib/closql
	url = https://codeberg.org/akib/emacs-eat
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-lsp"]
	path = lib/company-lsp
	url = git@github.com:tigersoldier/company-lsp.git
[submodule "company-lua"]
	path = lib/company-lua
	url = git@github.com:ptrv/company-lua.git
[submodule "company-shell"]
	path = lib/company-shell
	url = git@github.com:Alexander-Miller/company-shell.git
[submodule "company-terraform"]
	path = lib/company-terraform
	url = https://github.com/rafalcieslak/emacs-company-terraform
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacsmirror/compat.git
	build-step = make
[submodule "copy-as-format"]
	path = lib/copy-as-format
	url = git@github.com:sshaw/copy-as-format.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "diminish"]
	path = lib/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "docker"]
	path = lib/docker
	url = git@github.com:Silex/docker.el.git
[submodule "editorconfig"]
	path = lib/editorconfig
	url = git@github.com:editorconfig/editorconfig-emacs.git
[submodule "edn.el"]
	path = lib/edn.el
	url = git@github.com:expez/edn.el.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:magit/emacsql.git
	build-step = EMACSLOADPATH="$HOME/.config/emacs/lib/emacsql:" make
[submodule "emojify"]
	path = lib/emojify
	url = git@github.com:iqbalansari/emacs-emojify.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "epl"]
	path = lib/epl
	url = https://github.com/cask/epl
[submodule "eval-in-repl"]
	path = lib/eval-in-repl
	url = git@github.com:kaz-yos/eval-in-repl.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "expand-region"]
	path = lib/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "feature-mode"]
	path = lib/feature-mode
	url = git@github.com:michaelklishin/cucumber.el.git
[submodule "findr"]
	path = lib/findr
	url = git@github.com:emacsorphanage/findr.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flycheck-clj-kondo"]
	path = lib/flycheck-clj-kondo
	url = git@github.com:borkdude/flycheck-clj-kondo.git
[submodule "flycheck-plantuml"]
	path = lib/flycheck-plantuml
	url = git@github.com:alexmurray/flycheck-plantuml.git
[submodule "flycheck-posframe"]
	path = lib/flycheck-posframe
	url = https://github.com/alexmurray/flycheck-posframe
[submodule "ggtags"]
	path = lib/ggtags
	url = git@github.com:leoliu/ggtags.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-gutter"]
	path = lib/git-gutter
	url = git@github.com:emacsorphanage/git-gutter.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = git@github.com:emacsmirror/git-timemachine.git
[submodule "go-complete"]
	path = lib/go-complete
	url = git@github.com:vibhavp/go-complete.git
[submodule "go-eldoc"]
	path = lib/go-eldoc
	url = git@github.com:emacsorphanage/go-eldoc.git
[submodule "go-mode"]
	path = lib/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel
[submodule "gradle-mode"]
	path = lib/gradle-mode
	url = git@github.com:jacobono/emacs-gradle-mode.git
[submodule "graphql"]
	path = lib/graphql
	url = git@github.com:vermiculus/graphql.el.git
[submodule "groovy-mode"]
	path = lib/groovy-mode
	url = git@github.com:Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "hcl-mode"]
	path = lib/hcl-mode
	url = https://github.com/hcl-emacs/hcl-mode
[submodule "helm"]
	path = lib/helm
	url = git@github.com:emacs-helm/helm.git
	build-step = EMACSLOADPATH="$HOME/.config/emacs/lib/async:$HOME/.config/emacs/lib/popup:" make
	build-step = borg-update-autoloads
[submodule "helm-ag"]
	path = lib/helm-ag
	url = git@github.com:emacsorphanage/helm-ag.git
	build-step = borg-compile
[submodule "helm-cider"]
	path = lib/helm-cider
	url = git@github.com:clojure-emacs/helm-cider.git
	build-step = borg-update-autoloads
[submodule "helm-descbinds"]
	path = lib/helm-descbinds
	url = git@github.com:emacs-helm/helm-descbinds.git
	build-step = borg-compile
[submodule "helm-lsp"]
	path = lib/helm-lsp
	url = git@github.com:emacs-lsp/helm-lsp.git
	build-step = borg-compile
[submodule "helm-org"]
	path = lib/helm-org
	url = git@github.com:emacs-helm/helm-org.git
	build-step = borg-compile
[submodule "helm-projectile"]
	path = lib/helm-projectile
	url = git@github.com:bbatsov/helm-projectile.git
	build-step = borg-compile
[submodule "helm-rg"]
	path = lib/helm-rg
	url = https://github.com/cosmicexplorer/helm-rg
[submodule "helm-xref"]
	path = lib/helm-xref
	url = git@github.com:brotzeit/helm-xref.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "iter2"]
	path = lib/iter2
	url = https://github.com/doublep/iter2
[submodule "js-comint"]
	path = lib/js-comint
	url = git@github.com:redguardtoo/js-comint.git
[submodule "js2-mode"]
	path = lib/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "json-mode"]
	path = lib/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "json-reformat"]
	path = lib/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "jump"]
	path = lib/jump
	url = git@github.com:eschulte/jump.el.git
[submodule "kaocha-runner"]
	path = lib/kaocha-runner
	url = git@github.com:magnars/kaocha-runner.el.git
[submodule "know-your-http-well"]
	path = lib/know-your-http-well
	url = git@github.com:for-GET/know-your-http-well.git
[submodule "lib/modus-vivendi-theme"]
	url = git@github.com:emacsmirror/modus-themes.git
[submodule "lib/tide"]
	path = lib/tide
	url = git@github.com:ananthakumaran/tide.git
[submodule "lib/typescript-mode"]
	path = lib/typescript-mode
	url = git@github.com:emacs-typescript/typescript.el.git
[submodule "llama"]
	path = lib/llama
	url = git@github.com:tarsius/llama.git
[submodule "lsp-mode"]
	path = lib/lsp-mode
	url = git@github.com:emacs-lsp/lsp-mode.git
[submodule "lsp-ui"]
	path = lib/lsp-ui
	url = git@github.com:emacs-lsp/lsp-ui.git
[submodule "lua-mode"]
	path = lib/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "mcp"]
	path = lib/mcp
	url = git@github.com:lizqwerscott/mcp.el.git
[submodule "merlin"]
	path = lib/merlin
	url = git@github.com:emacsmirror/merlin.git
[submodule "mermaid-mode"]
	path = lib/mermaid-mode
	url = https://github.com/abrochard/mermaid-mode
[submodule "mic-paren"]
	path = lib/mic-paren
	url = git@github.com:emacsattic/mic-paren.git
[submodule "mmm-mode"]
	path = lib/mmm-mode
	url = git@github.com:purcell/mmm-mode.git
[submodule "modus-themes"]
	path = lib/modus-themes
	url = git@gitlab.com:protesilaos/modus-themes.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
[submodule "nerd-icons-dired"]
	path = lib/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired
[submodule "nvm"]
	path = lib/nvm
	url = https://github.com/rejeep/nvm.el
[submodule "ob-mongo"]
	path = lib/ob-mongo
	url = git@github.com:krisajenkins/ob-mongo.git
[submodule "olivetti"]
	path = lib/olivetti
	url = https://github.com/rnkn/olivetti
[submodule "org"]
	path = lib/org
	url = https://code.orgmode.org/bzg/org-mode.git
	build-step = make
	build-step = make autoloads
[submodule "org-jira"]
	path = lib/org-jira
	url = git@github.com:ahungry/org-jira.git
[submodule "org-present"]
	path = lib/org-present
	url = https://github.com/rlister/org-present
[submodule "org-roam"]
	path = lib/org-roam
	url = git@github.com:org-roam/org-roam.git
	load-path = .
	load-path = extensions
	build-step = eldev compile
[submodule "org-roam-ui"]
	path = lib/org-roam-ui
	url = git@github.com:org-roam/org-roam-ui.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "packs/dev/clojure-pack/vendor/submodules/hydra"]
	path = packs/dev/clojure-pack/vendor/submodules/hydra
	url = git://github.com/abo-abo/hydra.git
[submodule "packs/dev/foundation-pack/vendor/submodules/swiper"]
	path = packs/dev/foundation-pack/vendor/submodules/swiper
	url = git://github.com/abo-abo/swiper.git
[submodule "packs/dev/foundation-pack/vendor/submodules/with-editor"]
	path = packs/dev/foundation-pack/vendor/submodules/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "packs/dev/org-pack/vendor/submodules/org-mode"]
	path = packs/dev/org-pack/vendor/submodules/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "paredit"]
	path = lib/paredit
	url = https://mumble.net/~campbell/git/paredit.git
[submodule "parseclj"]
	path = lib/parseclj
	url = git@github.com:clojure-emacs/parseclj.git
[submodule "parseedn"]
	path = lib/parseedn
	url = git@github.com:clojure-emacs/parseedn.git
[submodule "pcre2el"]
	path = lib/pcre2el
	url = git@github.com:joddie/pcre2el.git
[submodule "peg"]
	path = lib/peg
	url = git@github.com:emacsmirror/peg.git
[submodule "persp-projectile"]
	path = lib/persp-projectile
	url = git@github.com:bbatsov/persp-projectile.git
[submodule "perspective"]
	path = lib/perspective
	url = git@github.com:nex3/perspective-el.git
[submodule "pfuture"]
	path = lib/pfuture
	url = git@github.com:Alexander-Miller/pfuture.git
[submodule "phi-search"]
	path = lib/phi-search
	url = https://github.com/zk-phi/phi-search
[submodule "pkg-info"]
	path = lib/pkg-info
	url = git@github.com:emacsorphanage/pkg-info.git
[submodule "plantuml-mode"]
	path = lib/plantuml-mode
	url = git@github.com:skuro/plantuml-mode.git
[submodule "plz"]
	path = lib/plz
	url = https://github.com/alphapapa/plz.el
[submodule "pomidor"]
	path = lib/pomidor
	url = https://github.com/TatriX/pomidor
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "popwin"]
	path = lib/popwin
	url = git@github.com:emacsorphanage/popwin.git
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "prettier"]
	path = lib/prettier
	url = https://github.com/jscheid/prettier.el
[submodule "prettier-js"]
	path = lib/prettier-js
	url = git@github.com:prettier/prettier-emacs.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "promise"]
	path = lib/promise
	url = https://github.com/chuntaro/emacs-promise
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "request"]
	path = lib/request
	url = git@github.com:tkf/emacs-request.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "sesman"]
	path = lib/sesman
	url = git@github.com:vspinu/sesman.git
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = git@github.com:skeeto/emacs-web-server.git
[submodule "sly"]
	path = lib/sly
	url = git@github.com:joaotavora/sly.git
	build-step = make compile compile-contrib
[submodule "sly-asdf"]
	path = lib/sly-asdf
	url = git@github.com:mmgeorge/sly-asdf.git
[submodule "sly-quicklisp"]
	path = lib/sly-quicklisp
	url = git@github.com:joaotavora/sly-quicklisp.git
	build-step = borg-makeinfo
[submodule "sly-repl-ansi-color"]
	path = lib/sly-repl-ansi-color
	url = git@github.com:PuercoPop/sly-repl-ansi-color.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "smex"]
	path = lib/smex
	url = git@github.com:nonsequitur/smex.git
	ignore = untracked
[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "sql-indent"]
	path = lib/sql-indent
	url = https://github.com/bsvingen/sql-indent
[submodule "sqlup-mode"]
	path = lib/sqlup-mode
	url = git@github.com:Trevoke/sqlup-mode.el.git
[submodule "string-edit-at-point"]
	path = lib/string-edit-at-point
	url = https://github.com/magnars/string-edit.el
[submodule "synosaurus"]
	path = lib/synosaurus
	url = git@github.com:hpdeifel/synosaurus.git
[submodule "tablist"]
	path = lib/tablist
	url = git@github.com:politza/tablist.git
[submodule "terraform-doc"]
	path = lib/terraform-doc
	url = https://github.com/TxGVNN/terraform-doc
[submodule "terraform-mode"]
	path = lib/terraform-mode
	url = https://github.com/hcl-emacs/terraform-mode
[submodule "tide"]
	path = lib/tide
	url = git@github.com:ananthakumaran/tide.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
  	build-step = make redo
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "tuareg"]
	path = lib/tuareg
	url = git@github.com:ocaml/tuareg.git
[submodule "typescript-mode"]
	path = lib/typescript-mode
	url = git@github.com:emacs-typescript/typescript.el.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "utop"]
	path = lib/utop
	url = git@github.com:emacsmirror/utop.git
[submodule "volatile-highlights"]
	path = lib/volatile-highlights
	url = git@github.com:k-talo/volatile-highlights.el.git
[submodule "vterm"]
	path = lib/vterm
	url = https://github.com/akermu/emacs-libvterm
[submodule "wc-mode"]
	path = lib/wc-mode
	url = git@github.com:bnbeckwith/wc-mode.git
[submodule "web-mode"]
	path = lib/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "websocket"]
	path = lib/websocket
	url = git@github.com:ahyatt/emacs-websocket.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "win-switch"]
	path = lib/win-switch
	url = git@github.com:genovese/win-switch.git
	build-step = nil
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = git@github.com:lewang/ws-butler.git
[submodule "xterm-color"]
	path = lib/xterm-color
	url = git@github.com:atomontage/xterm-color.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "zeal-at-point"]
	path = lib/zeal-at-point
	url = git@github.com:jinzhu/zeal-at-point.git
	build-step = borg-compile
[submodule "zprint"]
	path = lib/zprint
	url = https://github.com/DogLooksGood/zprint.el.git
